/leilaoapp/__pycache__/*
/apps/categoria/__pycache__/*
/apps/categoria/migrations/*
/.vscode
.env
/apps/pessoa/__pycache__/*
/apps/pessoa/migrations/*
/apps/usuario/__pycache__/*
/apps/usuario/migrations/*
/apps/endereco/__pycache__/*
/apps/endereco/migrations/*
/apps/produto/__pycache__/*
/apps/produto/migrations/*
/apps/leilao/__pycache__/*
/apps/leilao/migrations/*
/apps/pagamento/__pycache__/*
/apps/pagamento/migrations/*
/apps/envio/__pycache__/*
/apps/envio/migrations/*
/apps/lance/__pycache__/*
/apps/lance/migrations/*